{
  "env": {
    "es6": true,
    "browser": true,
    // "source": "module"
  },
  // "extends": "eslint:recommended",
  "extends": "airbnb",
  "rules": {
    "eqeqeq": 2,
    "curly": "error",
    "no-console": 0,
    "max-len": 0,
    "no-unused-vars": 1,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
  }
}
