@charset 'UTF-8';

// Typographic styles and vertical rhythm pulled from http://www.gridlover.net/app/

// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 768;
$max_width: 1200;
// These values represent the range of fon-tsize to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font: 12;
$max_font: 18;

:root { font-size: #{$min_font}px; }
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
  :root {
    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
  }
}
@media (min-width: #{$max_width}px){
   :root {
     font-size: #{$max_font}px;
   }
}

// Scales by 1px for every 100px from 600px onwards
// @media (min-width: 600px) {
//     font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
// }

// Sets font-size to 22px after a viewport of 1000px
// @media (min-width: 1000px) {
//     font-size: calc(137.5%);
// }

body {
  max-width: 760px;
  margin: 0 auto;
  padding: .9375rem;

  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  line-height: .9375rem;
  line-height: 180%;
}
h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: inherit;
  line-height: 1.875rem;
}
h2 {
  margin-top: 0rem;
  margin-bottom: .9375rem;

  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: inherit;
  line-height: 1.875rem;
}
h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: inherit;
  font-size: .8125rem;
  font-weight: 600;
  font-style: inherit;
  line-height: .9375rem;
}
h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: inherit;
  font-size: .625rem;
  font-weight: 600;
  font-style: inherit;
  line-height: .9375rem;
}
h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;

  font-family: inherit;
  font-size: .625rem;
  font-weight: 400;
  font-style: italic;
  line-height: .9375rem;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: .9375rem;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  margin: -1px 0;

  border: 1px solid;
}
b,
strong,
em,
small,
code {
  line-height: 1;
}
sup {
  position: relative;
  top: -.5em;

  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}

// EOF
